## Dealing with List Processing

List is a collection of data items of same or different data types enclosed in sqaure brackets.List items are mutable as INSERT , DELETE , and UPDATE operations can be carried out on them

In [2]:
list1 = [100,200,300,400,500]
print(list1 , type(list1) ,len(list1), id(list1))

[100, 200, 300, 400, 500] <class 'list'> 5 139771770418624

In [4]:
print(max(list1) , min(list1))

500 100

In [5]:
print(sum(list1))

1500

In [6]:
#average of list
print(sum(list1)/len(list1))

300.0

In [9]:
lis1 = ["Monday" , "Friday","Thrusday","Tuesday" ,"Sunday"]
print(max(lis1),min(lis1))

Tuesday Friday

In [10]:
list1 = [100,500.45,200,False,400.5,True,300]
print(max(list1), min(list1))

500.45 False

In [11]:
print(sum(list1),sum(list1)/len(list1))

1501.95 214.56428571428572

In [12]:
list1 = ["Sunday" , "Tuesday" , "Friday" , "Saturday" , "Thrusday"]
print(list1[2],list1[-3],list1[4],list1[-1])

Friday Friday Thrusday Thrusday

In [13]:
print(list1[0::2])

['Sunday', 'Friday', 'Thrusday']

In [14]:
print(list1[1::2])

['Tuesday', 'Saturday']

In [16]:
print(list1[::-1])
print(list1[3][2:5])

['Thrusday', 'Saturday', 'Friday', 'Tuesday', 'Sunday']
tur

In [17]:
print(list1[-2][-6:-3])

tur

### Defining empty set , list , tuple , dictionary....

In [20]:
var1=[]   #empty list
print(var1 , len(var1) ,type(var1) , id (var1))

[] 0 <class 'list'> 139771770493760

In [21]:
var1 = ()   #empty tuple
print(var1 , len(var1) ,type(var1) , id (var1))

() 0 <class 'tuple'> 139772484956104

In [22]:
var1 = {}   # empty dictionary
print(var1 , len(var1) ,type(var1) , id (var1))

{} 0 <class 'dict'> 139771770550528

In [23]:
var1 = set()   # empty set
print(var1 , len(var1) ,type(var1) , id (var1))

set() 0 <class 'set'> 139771780685312

In [24]:
var1 = frozenset()   # empty frozen set
print(var1 , len(var1) ,type(var1) , id (var1))

frozenset() 0 <class 'frozenset'> 139771780684640

In [26]:
var1 = (9,)  # singleton representation of a tuple
print(var1 , len(var1) ,type(var1) , id (var1))

(9,) 1 <class 'tuple'> 139772242295728

### Converting string to list , tuple , set , frozen set

In [31]:
mystr = "my word mississippi"
print(mystr , id(mystr) , len(mystr) , id(mystr))

my word mississippi 139771770585520 19 139771770585520

In [28]:
list1 = list(mystr)
print(list1 , len(list1) , type(list1) , id(list1))

['m', 'y', ' ', 'w', 'o', 'r', 'd', ' ', 'm', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] 19 <class 'list'> 139771770585472

In [29]:
result = tuple(mystr)
print(result , len(result) , id(result) , type(result))

('m', 'y', ' ', 'w', 'o', 'r', 'd', ' ', 'm', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i') 19 139771781077056 <class 'tuple'>

In [32]:
result = set(mystr)
print(result , len(result) , id(result) , type(result))

{' ', 'm', 'd', 'y', 'o', 'r', 'i', 's', 'w', 'p'} 10 139771780685984 <class 'set'>

In [35]:
result = frozenset(mystr)
print(result , len(result) , id(result) , type(result))

frozenset({' ', 'm', 'd', 'y', 'o', 'r', 'i', 's', 'w', 'p'}) 10 139771770633376 <class 'frozenset'>

### Insert Operation on List

In [36]:
 list1 = ["Monday" , "Thrusday","Tuesday" , "Sunday"]
print(list1 , type(list1) , id(list1) , len(list1))

['Monday', 'Thrusday', 'Tuesday', 'Sunday'] <class 'list'> 139771757253568 4

In [37]:
list1.append("Saturday")
print(list1 , type(list1) , id(list1) , len(list1))

['Monday', 'Thrusday', 'Tuesday', 'Sunday', 'Saturday'] <class 'list'> 139771757253568 5

In [38]:
list1.append("Friday")
print(list1 , type(list1) , id(list1) , len(list1))

['Monday', 'Thrusday', 'Tuesday', 'Sunday', 'Saturday', 'Friday'] <class 'list'> 139771757253568 6

In [39]:
list1.append("wednesday")
print(list1 , type(list1) , id(list1) , len(list1))

['Monday', 'Thrusday', 'Tuesday', 'Sunday', 'Saturday', 'Friday', 'wednesday'] <class 'list'> 139771757253568 7

In [45]:
list1 = ["Monday" , "Thrusday","Tuesday" , "Sunday"]
print(list1 , type(list1) , id(list1) , len(list1))
list1.insert(3,"Saturday")
print(list1 , type(list1) , id(list1) , len(list1))
list1.insert(3,"Friday")
print(list1 , type(list1) , id(list1) , len(list1))
list1.insert(1, "Wednesday")
print(list1 , type(list1) , id(list1) , len(list1))
list1.insert(100,"weekday")
print(list1 , type(list1) , id(list1) , len(list1))
print(list1[7])

['Monday', 'Thrusday', 'Tuesday', 'Sunday'] <class 'list'> 139771757208960 4
['Monday', 'Thrusday', 'Tuesday', 'Saturday', 'Sunday'] <class 'list'> 139771757208960 5
['Monday', 'Thrusday', 'Tuesday', 'Friday', 'Saturday', 'Sunday'] <class 'list'> 139771757208960 6
['Monday', 'Wednesday', 'Thrusday', 'Tuesday', 'Friday', 'Saturday', 'Sunday'] <class 'list'> 139771757208960 7
['Monday', 'Wednesday', 'Thrusday', 'Tuesday', 'Friday', 'Saturday', 'Sunday', 'weekday'] <class 'list'> 139771757208960 8
weekday

### Delete operation on list

In [46]:
list1 = ["Monday", "Tuesday","Wednesday" , "Thrusday" , "Friday","Saturday"]
print(list1 , len(list1) , type(list1) , id(list1))
list1.clear()
print(list1 , len(list1) , type(list1) , id(list1))

['Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday', 'Saturday'] 6 <class 'list'> 139771757576064
[] 0 <class 'list'> 139771757576064

In [47]:
list1 = ["Monday", "Tuesday","Wednesday" , "Thrusday" , "Friday","Saturday"]
print(list1 , len(list1) , type(list1) , id(list1))
del list1
print(list1 , len(list1) , type(list1) , id(list1)) # error because list is delated in last line

['Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday', 'Saturday'] 6 <class 'list'> 139771757613568

NameError: name 'list1' is not defined

In [49]:
list1 = ["Monday", "Tuesday","Wednesday" , "Thrusday" , "Friday","Saturday"]
print(list1 , len(list1) , type(list1) , id(list1))
list1.remove('Saturday')
print(list1 , len(list1) , type(list1) , id(list1))
list1.remove('Monday')
print(list1 , len(list1) , type(list1) , id(list1))

['Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday', 'Saturday'] 6 <class 'list'> 139771755749056
['Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday'] 5 <class 'list'> 139771755749056
['Tuesday', 'Wednesday', 'Thrusday', 'Friday'] 4 <class 'list'> 139771755749056

In [53]:
list1 = ["Monday", "Tuesday","Wednesday" , "Thrusday" , "Friday","Sunday"]
print(list1 , len(list1) , type(list1) , id(list1))
list1.pop()
print(list1 , len(list1) , type(list1) , id(list1))
list1.pop(2)
print(list1 , len(list1) , type(list1) , id(list1))

['Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday', 'Sunday'] 6 <class 'list'> 139771755776384
['Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday'] 5 <class 'list'> 139771755776384
['Monday', 'Tuesday', 'Thrusday', 'Friday'] 4 <class 'list'> 139771755776384

### Update operation on list

In [56]:
list1 = ['Monday', 'Thrusday',"Saturday","Tuesday","Friday" , "Sunday"]
print(list1)
list1[3]="Wednesday"
print(list1, type(list1) , id(list1) )

['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Friday', 'Sunday']
['Monday', 'Thrusday', 'Saturday', 'Wednesday', 'Friday', 'Sunday'] <class 'list'> 139771757651008

In [58]:
list1 = ['Monday', 'Thrusday',"Saturday","Tuesday"]
print(list1)
list2 = ["Friday" ,"Sunday"]
result = list1 + list2
print(result , id(result) , type(result) , len(result))

['Monday', 'Thrusday', 'Saturday', 'Tuesday']
['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Friday', 'Sunday'] 139771755981312 <class 'list'> 6

In [60]:
list1 = ['Monday', 'Thrusday',"Saturday","Tuesday"]
print(list1)
list2 = ["Friday" ,"Sunday"]
list1.extend(list2)            # extending the list
print(list1 , id(list1) , type(list1) , len(list1))

['Monday', 'Thrusday', 'Saturday', 'Tuesday']
['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Friday', 'Sunday'] 139771755750016 <class 'list'> 6

In [61]:
list1 = ['Monday', 'Thrusday',"Saturday","Tuesday"]
print(list1)
list2 = ["Friday" ,"Sunday"]
list1 += list2
print(list1 , id(list1) , type(list1) , len(list1))

['Monday', 'Thrusday', 'Saturday', 'Tuesday']
['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Friday', 'Sunday'] 139771755802048 <class 'list'> 6

In [62]:
list1 = ['Monday', 'Thrusday',"Saturday","Tuesday"]
print(list1)
list2 = ["Friday" ,"Sunday"]
result = [list1 , list2]
print(result , id(result) , type(result) , len(result))

['Monday', 'Thrusday', 'Saturday', 'Tuesday']
[['Monday', 'Thrusday', 'Saturday', 'Tuesday'], ['Friday', 'Sunday']] 139771755754880 <class 'list'> 2