In [1]:
list1 =[['Monday','Thrusday','saturday'],['Friday','Sunday']]
print(list1,len(list1),type(list1),id(list1))
print(list1[0][1] , list1[-2][-3],list1[1][1],list1[-1][-1])
print(list1[0][2][2:5])

[['Monday', 'Thrusday', 'saturday'], ['Friday', 'Sunday']] 2 <class 'list'> 140035922970368
Thrusday Monday Sunday Sunday
tur

In [2]:
print(list1[-2][-2][-6:-3])

rus

In [3]:
list1=[27,16,14,2,31,22]
print(list1,len(list1),type(list1),id(list1))

list1.sort()
print(list1,len(list1),type(list1),id(list1))

list1.sort(reverse=True)
print(list1,len(list1),type(list1),id(list1))

[27, 16, 14, 2, 31, 22] 6 <class 'list'> 140036403367808
[2, 14, 16, 22, 27, 31] 6 <class 'list'> 140036403367808
[31, 27, 22, 16, 14, 2] 6 <class 'list'> 140036403367808

In [5]:
list1=[27,16,14,2,31,22]
print(list1,len(list1),type(list1),id(list1))

result = sorted(list1)
print(result,len(result),type(result),id(result))

result = sorted(list1,reverse = True)
print(result,len(result),type(result),id(result))

[27, 16, 14, 2, 31, 22] 6 <class 'list'> 140035922975104
[2, 14, 16, 22, 27, 31] 6 <class 'list'> 140036403367808
[31, 27, 22, 16, 14, 2] 6 <class 'list'> 140035922914368

In [10]:
list1=['Monday','Thrusday','Saturday','Tuesday','Saturday','Friday','Sunday','Saturday']
print(list1,len(list1),type(list1),id(list1))
print(list1.count('Saturday'))
print(list1.count('Tuesday'))

['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922973440
3
1

In [12]:
print(list1.pop())
print(list1,len(list1),type(list1),id(list1))
print(list1.pop(3))
print(list1,len(list1),type(list1),id(list1))
print(list1.pop(0))
print(list1,len(list1),type(list1),id(list1))

Sunday
['Monday', 'Thrusday', 'Saturday', 'Saturday', 'Friday'] 5 <class 'list'> 140035922973440
Saturday
['Monday', 'Thrusday', 'Saturday', 'Friday'] 4 <class 'list'> 140035922973440
Monday
['Thrusday', 'Saturday', 'Friday'] 3 <class 'list'> 140035922973440

In [13]:
list1=['Monday','Thrusday','Saturday','Tuesday','Saturday','Friday','Sunday','Saturday']
print(list1,len(list1),type(list1),id(list1))
list2 = list1
print(list2,len(list2),type(list2),id(list2))

list1[0]='Wednesday'
print(list1,len(list1),type(list1),id(list1))
print(list2,len(list2),type(list2),id(list2))

['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922916992
['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922916992
['Wednesday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922916992
['Wednesday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922916992

In [16]:
list1=['Monday','Thrusday','Saturday','Tuesday','Saturday','Friday','Sunday','Saturday']
print(list1,len(list1),type(list1),id(list1))
list2[:]= list1  #Slicing
print(list2,len(list2),type(list2),id(list2))

list2[1]='Friday'
print(list1,len(list1),type(list1),id(list1))
print(list2,len(list2),type(list2),id(list2))

['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922973440
['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922916992
['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922973440
['Monday', 'Friday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922916992

In [18]:
list1=['Monday','Thrusday','Saturday','Tuesday','Saturday','Friday','Sunday','Saturday']
print(list1,len(list1),type(list1),id(list1))
list2 = list1.copy()
print(list2,len(list2),type(list2),id(list2))

list1[0]='Wednesday'
print(list1,len(list1),type(list1),id(list1))
print(list2,len(list2),type(list2),id(list2))

['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922973440
['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922917056
['Wednesday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922973440
['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035922917056

In [22]:
list1=['Monday','Thrusday','Saturday','Tuesday','Saturday','Friday','Sunday','Saturday']
print(list1,len(list1),type(list1),id(list1))
print(all(list1))

list1=['Monday','Thrusday',False,'Tuesday','Saturday','Friday','Sunday','Saturday']
print(list1,len(list1),type(list1),id(list1))
print(all(list1))

['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035909761408
True
['Monday', 'Thrusday', False, 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035909691392
False

In [25]:
list1=['Monday','Thrusday','Saturday','Tuesday','Saturday','Friday','Sunday','Saturday']
print(list1,len(list1),type(list1),id(list1))
print(any(list1))  #any of the item is True
list1=['Monday','Thrusday',False,'Tuesday','Saturday','Friday','Sunday','Saturday']
print(list1,len(list1),type(list1),id(list1))
print(any(list1))

list1=[False , False , False]
print(any(list1))

['Monday', 'Thrusday', 'Saturday', 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140036403319424
True
['Monday', 'Thrusday', False, 'Tuesday', 'Saturday', 'Friday', 'Sunday', 'Saturday'] 8 <class 'list'> 140035909695552
True
False

In [26]:
def myfunct(mylist):
    mylist[3]='Wednesday'

list1=['Monday','Thursday','Saturday','Tuesday','Friday','Sunday']
print(list1,len(list1),type(list1),id(list1))
myfunct(list1)
print(list1,len(list1),type(list1),id(list1))

['Monday', 'Thursday', 'Saturday', 'Tuesday', 'Friday', 'Sunday'] 6 <class 'list'> 140035922917760
['Monday', 'Thursday', 'Saturday', 'Wednesday', 'Friday', 'Sunday'] 6 <class 'list'> 140035922917760

# Dealing with the tuple processing

Tuple is a collection of data items of same or different data type encrypted with in first bracket.
Tuple items are immutables as INSERT , DELETE and UPDATE opertaions can not be carried out on them

In [27]:
tuple1 = (100,500,200,400,300)
print(tuple1 , len(tuple1),type(tuple1),id(tuple1))
print(max(tuple1) , min(tuple1))

(100, 500, 200, 400, 300) 5 <class 'tuple'> 140035909979648
500 100

In [28]:
tuple1=('Sunday','Tuesady','Friday','Saturday','Thursday')
print(tuple1[2],tuple1[-3],tuple1[4],tuple1[-1])

Friday Friday Thursday Thursday

In [29]:
tuple1=('Sunday','Tuesady','Friday','Saturday','Thursday')
print(tuple1[0::2],tuple1[1::2],tuple1[::-1])

('Sunday', 'Friday', 'Thursday') ('Tuesady', 'Saturday') ('Thursday', 'Saturday', 'Friday', 'Tuesady', 'Sunday')

In [30]:
print(tuple1[3][2:5],tuple1[-2][-6:-3])

tur tur

In [32]:
tuple1 = (100,500,200,400,300)
print(tuple1 , len(tuple1),type(tuple1),id(tuple1))
del tuple1   # Delete the tuple
print(tuple1 , len(tuple1),type(tuple1),id(tuple1))   # Error because tuple is deleted

(100, 500, 200, 400, 300) 5 <class 'tuple'> 140035909853376

NameError: name 'tuple1' is not defined