In [11]:
mystr = "charity begins at home"
print(mystr , "\n",len(mystr),type(mystr),id(mystr))
print(mystr.find("begin"))
print(mystr.find("at"))
print(mystr.find("school"))
print(mystr.find("home"))

charity begins at home
 22 <class 'str'> 140192379662832
8
15
-1
18

In [12]:
print(mystr.index("begins"))
print(mystr.index("at"))

# print(mystr.index("school"))  \\ error :substring not found
print(mystr.index("home"))

8
15
18

In [14]:
print(mystr.index("begins"))
print(mystr.index("at"))
try:
    print(mystr.index("school"))  
except ValueError as v:
    print("Unsuccessful search....")
    print("Error Message " , v)
print(mystr.index("home"))

8
15
Unsuccessful search....
Error Message  substring not found
18

In [19]:
mystr = "mississippi"
print(mystr , len(mystr) , type(mystr),id(mystr))
print(mystr.count("i"))
print(mystr.count("s"))
print(mystr.count("ss"))
print(mystr.count("t"))

mississippi 11 <class 'str'> 140192377830320
4
4
2
0

In [20]:
mystr = "good morning"
print(mystr , len(mystr),type(mystr), id (mystr))
mystr = mystr.replace("morning","night")
print(mystr , len(mystr),type(mystr), id (mystr))

good morning 12 <class 'str'> 140192379680432
good night 10 <class 'str'> 140192922655152

In [25]:
mystr = "      good   morning            "
print(mystr , len(mystr),type(mystr), id (mystr))
mystr = mystr.strip()
print(mystr , len(mystr),type(mystr), id (mystr))

      good   morning             32 <class 'str'> 140192378125840
good   morning 14 <class 'str'> 140192379777904

In [26]:
mystr = "      good   morning            "
print(mystr , len(mystr),type(mystr), id (mystr))
mystr = mystr.lstrip()
print(mystr , len(mystr),type(mystr), id (mystr))

      good   morning             32 <class 'str'> 140192378176416
good   morning             26 <class 'str'> 140192378176656

In [27]:
mystr = "      good   morning            "
print(mystr , len(mystr),type(mystr), id (mystr))
mystr = mystr.rstrip()
print(mystr , len(mystr),type(mystr), id (mystr))

      good   morning             32 <class 'str'> 140192378177696
      good   morning 20 <class 'str'> 140192378203952

In [32]:
mystr = "@@@@@@@@@@@@good @ morning###@@@@@#@#@#@#@#@#@#"
print(mystr , len(mystr),type(mystr), id (mystr))
mystr = mystr.strip("#@")
print(mystr , len(mystr),type(mystr), id (mystr))

@@@@@@@@@@@@good @ morning###@@@@@#@#@#@#@#@#@# 47 <class 'str'> 140192378260432
good @ morning 14 <class 'str'> 140192378211760

In [33]:
mystr = "@@@@@@@@@@@@good @ morning###@@@@@#@#@#@#@#@#@#"
print(mystr , len(mystr),type(mystr), id (mystr))
mystr = mystr.rstrip("#@")
print(mystr , len(mystr),type(mystr), id (mystr))

@@@@@@@@@@@@good @ morning###@@@@@#@#@#@#@#@#@# 47 <class 'str'> 140192378259760
@@@@@@@@@@@@good @ morning 26 <class 'str'> 140192378186656

In [35]:
mystr = "@@@@@@@@@@@@good @ morning###@@@@@#@#@#@#@#@#@#"
print(mystr , len(mystr),type(mystr), id (mystr))
mystr = mystr.lstrip("#@")
print(mystr , len(mystr),type(mystr), id (mystr))

@@@@@@@@@@@@good @ morning###@@@@@#@#@#@#@#@#@# 47 <class 'str'> 140192378259760
good @ morning###@@@@@#@#@#@#@#@#@# 35 <class 'str'> 140192378189056

### Converting String into List

In [38]:
mystr = "charity begins at home"
print(mystr , "\n",len(mystr),type(mystr),id(mystr))
result = mystr.split()
print(result , "\n",type(result))

charity begins at home
 22 <class 'str'> 140192378213104
['charity', 'begins', 'at', 'home']
 <class 'list'>

In [39]:
result = mystr.split('i')
print(result , "\n",type(result))

['char', 'ty beg', 'ns at home']
 <class 'list'>

In [40]:
result = mystr.split('x')
print(result , "\n",type(result))

['charity begins at home']
 <class 'list'>

List to String

In [41]:
list1 = ['charity', 'begins', 'at', 'home'] 
print(list1 , type(list1) , id(list1))

['charity', 'begins', 'at', 'home'] <class 'list'> 140192922254912

In [46]:
mystr=" ".join(list1)
print(mystr , type(mystr) , len(mystr))

charity begins at home <class 'str'> 22

In [47]:
mystr=" ".join(list1)
print(mystr , type(mystr) , len(mystr))

charity begins at home <class 'str'> 22

In [48]:
mystr="-".join(list1)
print(mystr , type(mystr) , len(mystr))

charity-begins-at-home <class 'str'> 22

In [55]:
mystr = "university"
print(mystr , len(mystr))
for i in range(len(mystr)):
    print(mystr[i],end = ",")

print()

for i in mystr:
    print(i,end = ",")

university 10
u,n,i,v,e,r,s,i,t,y,
u,n,i,v,e,r,s,i,t,y,

Take a sentence with upper and lower case letters and other charcaters from the user and find the number of vowels and constants in the given string

In [64]:
mystr = input().lower()
vowel = constant =0
for ch in mystr:
    if(ch.isalpha()):
        if(ch in "aeiou"): vowel +=1
        else: constant +=1
print(f"Number of Vowel {vowel} and consonant is {constant}....")
print("End of program")

 Asad Rahmani

Number of Vowel 5 and consonant is 6....
End of program